// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product {
  text-align: center;
  a:hover{
    background: transparent;
    opacity: 0.5;
  }
  img {
    width: 100px;
    height: 100px;
  }
}

.show_product {
  h1{
    padding-left: 20px;
  }
  h3, p {
    text-align: center;
  }
  img {
    width: 400px;
    height: 400px;
  }
  a:visited {
    color: #fff;
  }
}
